.content-principal{
    display: flex;
    align-items: start;
    text-align: center;
}
.contents-first-childs{
    width: 100%;
    display: flex;
    text-align: left;
    background-color: #080404;
    padding-top: 15px;
    height: 150px;
}
.contents-second-childs{
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: #080404;
    padding-top: 15px;
    height: 150px;
    color: white;
}
.contents-third-childs{
    width: 100%;
    display: grid;
    text-align: left;
    background-color: #080404;
    padding-top: 15px;
    height: 150px;
    color: white;
}
.img-footer{
    margin: 10px;
}
.first-section{
    font-size: 20px;
    color: white;
}
.div-first-section{
    padding-left: 30px;
}
.div-section-contacts {
    display: grid;
    padding-left: 20%;
    color: white;
    font-size: 20px;
}
.atribucion-icons{
    font-size: 11px;
}