main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  box-shadow: 1px 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.floating-icons {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 4;
}
.floating-icons img {
  width: 50px;
  cursor: pointer;
}
.main-container {
  width: 90%;
  height: auto;
  /* margin: 10%; */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  margin-bottom: 20px;
  padding: 5%;
  text-shadow: 4px 1px 4px black;
}
.main-container h1 {
  padding: 2% 5%;
  color: #fff;
  font-size: 75px;
  letter-spacing: 5px;
  font-family: Max-bold, Arial, Helvetica, sans-serif;
}
.main-container p {
  font-size: 40px;
  color: white;
  padding: 0 5%;
  font-family: Max-bold, Arial, Helvetica, sans-serif;
}

.boxs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 20px;
  padding: 0 5%;
  /* width: 100%; */
  height: auto;
}
.box {
  border-radius: 50px;
  background-color: #ec3a2c;
  text-align: center;
  height: auto;
}
.box p {
  width: 100%;
  height: auto;
  padding: 0;
}

.box img {
  width: 100%;
  height: 80%;
  border-radius: 50px;
}
.main-container a {
  display: none;
}

.tacos-container {
  margin-top: 50px;
}

@media (max-width: 1023px) {
  .main-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-container h1 {
    font-size: 50px;
  }
  .main-container p {
    font-size: 20px;
    color: white;
    padding: 0 5%;
    font-family: Max-bold, Arial, Helvetica, sans-serif;
  }
  .boxs-container {
    display: none;
  }
  .main-container a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #ec3a2c;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
    margin: 20%;
  }
}
/* GRID TACOS */
.grid-tacos {
  display: grid;
  height: 100vh;
  gap: 10px;

  grid-template-areas:
    "left right"
    "left right";
}
/* Se declara el nombre de cada area en el GRID */
aside:first-of-type {
  grid-area: left;
}
aside:last-of-type {
  grid-area: right;
  /* background-color: aqua; */
}
/* Menu de tacos */
.menu-tacos {
  margin-top: 15%;
  width: 100%;
  overflow-y: auto;
}

.grid-menu-tacos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 20px;
  padding: 0 5%;
  /* width: 100%; */
  height: auto;
}
@media (max-width: 1023px) {
  .grid-tacos {
    grid-template-areas:
      "right right"
      "left  left";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
  }
  .grid-menu-tacos {
    display: flex;
    gap: 20px;
    font-size: 20px;
    height: auto;
    width: 400%;
  }
}
.grid-menu-tacos::-webkit-scrollbar {
  width: 20px; /* Tamaño del scroll en vertical */

  height: 50px; /* Tamaño del scroll en horizontal */
}
.box-tacos {
  border-radius: 50px;
  background-color: #ec3a2c;
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  height: auto;
}
.box-tacos img {
  width: 100%;
  height: 80%;
  border-radius: 50px;
}
.box-tacos p {
  font-size: 1.6rem;
  color: white;
  width: 100%;
  height: auto;
  padding: 0;
}
/* Descripcion de los tacos */
.grid-tacos .main-description-tacos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.main-description-tacos .title-tacos {
  margin-bottom: 2rem;
}
.main-description-tacos .title-tacos h1 {
  font-size: 4rem;
  font-family: Max-bold, Arial, Helvetica, sans-serif;
  color: #ec3a2c;
  width: 100%;
}
.main-description-tacos .title-tacos h5 {
  font-size: 2rem;
  width: 100%;
}
.taco-box {
  border-radius: 50px;
  text-align: center;
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  bottom: 0;
  backdrop-filter: blur(10px);
}
.taco-box img {
  width: 100%;
  border-radius: 50px;
  background-color: #ec3a2c;
  text-align: center;
  height: auto;
  max-height: 50vh;
}
.taco-box h2 {
  font-size: 2.5rem;
  font-family: Max-bold, Arial, Helvetica, sans-serif;
  color: #ec522c;
  width: 100%;
  height: auto;
}
.taco-box h5 {
  font-size: 1.6rem;
  text-align: left;
  width: 100%;
  height: auto;
  padding-left: 5%;
  margin-bottom: 3%;
  padding-right: 3%;
}

@media (max-width: 1023px) {
  .box-tacos {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2%;
  }
  .box-tacos p {
    font-size: 1.5rem;
  }
  .box-tacos img {
    width: 100%;
    border-radius: 20px;
  }
}
