.container {
  height: 200vh;
}
/* .opacity {
  background: rgba(0, 0, 0, 0.1);
} */
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  /* background-color: #000; */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.6s;
}

.sticky {
  background-color: #000;
  padding: 0px 30px;
  transition: 0.6s;
}

/* Logo */
.navbar img {
  height: 75px;
}
/* Navbar menu */
.navbar a {
  font-family: max-bold;
  color: white;
  font-size: 22px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: #cc3c24;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

/* navbar responsiva */
input[type="checkbox"] {
  display: none;
}
/* menu hamburguesa */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .menu {
    display: none;
    position: absolute;
    margin-top: 42px;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    left: 0;
    text-align: center;
    padding-top: 30px;
    /* padding: 50px 0; */
    height: 100vh;
  }
  .sticky .menu {
    margin-top: 25px;
    background-color: #000;
    height: 100vh;
    transition: 0.6s;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #cc3c24;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 22px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .toggle-button {
    display: flex;
    cursor: pointer;
  }
  .navbar.active {
    background: #000;
    transition: 0.1s ease;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
