.container-quesadillas {
  background-image: url("../assets/bg_quesadillas_y_gorditas.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  height: auto;
  width: 100%;
}
.quesadilla-text {
  margin-top: 4%;
  padding-top: 4%;
  font-size: 3rem;
  text-align: center;
}
.body-quesadillas {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 5%;
  display: flex;
  text-align: center;
  gap: 5%;
}
.left-side {
  width: 50%;
  color: #000;
  height: auto;
}
.right-side {
  width: 50%;
  color: #fff;
  height: auto;
}
.title-section {
  font-family: Max-bold;
  font-size: 5rem;
}
.centrar-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.card-quesadillas-gorditas {
  width: 100%;
  max-height: 350px;
}
.box-quesadillas-gorditas {
  border-radius: 20px;
  background-color: #ec3a2c;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card-texto {
  text-align: justify;
  font-size: 1.5rem;
  color: white;
  height: auto;
  padding: 20px;
}
.card-titulo {
  font-size: 2.5rem;
  align-self: center;
}
.card-img {
  width: 40%;
}
.card-img img {
  height: 100%;
  border-radius: 20px;
}
.formato-img {
  border-radius: 30px;
  width: 100%;
}

@media (max-width: 1023px) {
  .container-quesadillas {
    background-image: none;
  }
  .body-quesadillas {
    display: block;
  }
  .left-side {
    width: 100%;
    margin: 10% 0;
  }
  .right-side {
    width: 100%;
    color: #000;
    margin: 5% 0;
  }
  .title-section {
    font-size: 4rem;
  }
  .centrar-cards {
    display: block;
  }
  .card-quesadillas-gorditas {
    margin: 10% 0;
  }
  .box-quesadillas-gorditas {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-texto {
    text-align: center;
  }
  .card-img {
    width: 100%;
  }
  .card-img img {
    /* height: 100%; */
    width: 100%;
    max-height: 200px;
  }
}
